<!DOCTYPE html>
<html ⚡ lang="ja">

<head>

    <meta charset="UTF-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>{{- .Title }} | {{ .Site.Title -}}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {{ .Permalink }},
        "headline": {{ .Title }},
        "image": {{ .Params.images }},
        "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05" }},
        "author": {
            "@type": "Person",
            "name": {{ .Site.Params.Author }}
        },
        "publisher": {
            "@type": "Organization",
            "name": {{ .Site.Title  }},
            "logo": {
              "@type": "ImageObject",
              "url": "TODO"
            }
        }
    }
    </script>

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <style amp-custom>
        {{ (resources.Get "style.scss"| toCSS (dict "outputStyle" "compressed")).Content | safeCSS}}
    </style>

    {{/*  OGP  */}}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    {{/*  Other  */}}
    <meta name="theme-color" content="#FFCC66">
    <meta name="description" content="{{ .Description }}">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/favicon.png">


</head>

<body>
