@use "common.scss" as *;

.c-textIcon {
  margin: 0 -.2em;
  width: 1.4em;
  height: 1.4em;
  vertical-align: text-bottom;
}

.c-tips {
  position: relative;
  &::after {
    content: attr(title);
    display: block;
    pointer-events: none;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 50%;
    padding: 0.5em 1em;
    border-radius: 0.8rem;
    text-align: center;
    font-size: 1.4rem;
    transition: $TRANSITION;
    background: color(main, 0.4);
    color: color(base, 1);
  }
  &:hover::after {
    opacity: 1;
    bottom: 110%;
  }
}

.c-exSite {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0rem 1.4rem .2rem 1.2rem;
  border-radius: 0 1.4rem;
  opacity: .9;
  svg {
    fill: #fff;
  }
  svg:last-of-type {
    width: 2.4rem;
    height: 2.4rem;
    opacity: .5;
    position: relative;
    right: -.6rem;
    bottom: -.4rem;
  }
  &.note {
    background:#55C500;
    svg:first-of-type {
      width: 4.5rem;
      height: 1.6rem;
    }
  }
  &.qiita {
    background:#41C9B4;
    svg:first-of-type {
      width: 4.8rem;
      height: 1.6rem;
    }
  }
}
