@use "common.scss" as *;

.js-lazy {
  opacity: 0;
  transition: .4s ease-out;
  &.load {
    opacity: 1;
  }
}

.c-textIcon {
  margin: 0 -.2em;
  width: 1.4em;
  height: 1.4em;
  vertical-align: text-bottom;
}

.c-tips {
  position: relative;
  word-break: keep-all;

  &::before,&::after {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: bottom $TRANSITION;
    pointer-events: none;
  }
  &::before {
    content: "";
    border-width: 2rem 1rem;
    border-style: solid;
    border-color: color(theme) transparent transparent;
    bottom: 30%;
  }
  &::after {
    content: attr(title);
    margin-left: auto;
    margin-right: auto;
    bottom: 100%;
    padding: 0.4em .8em;
    border-radius: 0.8rem;
    text-align: center;
    font-size: 1.2rem;
    background: color(theme);
    color: color(base);
  }
  &:hover,&:active {
    &::before {
      opacity: 1;
      bottom: 50%;
    }
    &::after {
      opacity: 1;
      bottom: 120%;
    }
  }
}

.c-exSite {
  transition: $TRANSITION;
  position: absolute;
  top: 0;
  right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
  border-radius: 0 0 0 1.4rem;
  width: 9.6rem;
  height: 3.2rem;
  opacity: .8;
  svg {
    fill: #fff;
  }
  svg:last-of-type {
    width: 2rem;
    height: 2rem;
    opacity: .5;
    position: relative;
    right: -.6rem;
    bottom: .1rem;
  }
  &.note {
    background:#55C500;
    svg:first-of-type {
      width: 3.34rem;
      height: 1.2rem;
    }
  }
  &.qiita {
    background:#41C9B4;
    svg:first-of-type {
      width: 3.62rem;
      height: 1.2rem;
    }
  }
}
