@use "common.scss" as *;

.u-hideSp {
  @include max($SM) {
    display: none !important;
  }
}

.u-showTabSp,.u-hidePc {
  @include min($MD + 1) {
    display: none !important;
  }
}
.u-showSp {
  @include min($SM + 1) {
    display: none !important;
  }
}
