@import 'common';

#globalHeader {
  margin-top: 9.6rem;
  display: flex;
  justify-content: center;
  h1 {
    width: 20rem;
    height: 5rem;
  }
}

main {
  width: calc(100% - 8rem);
  max-width: 45em;
  margin: 6.4rem auto 0;
  @include max($SM){
    width: calc(100% - 6.4rem);
  }
}

///////////////////////////////////////////////////////////////////////////////
// Article Header
///////////////////////////////////////////////////////////////////////////////

.articleHeader {
  amp-img {
    border-radius: .8rem;
    border: 1px solid color(main,.1);
    max-width: 100%;
  }
  .breadcrumb {
    display: flex;
    list-style: none;
    margin-top: 2.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    li {
      margin-right: 2em;
      position: relative;
      a {
        opacity: .6;
        text-decoration: underline;
        &:hover { opacity: .8}
      }
      &::after {
        content: '';
        display: block;
        width:.6em; height: .6em;
        position: absolute;
        bottom: .25em; right: -1em;
        border: .2rem solid currentColor;
        border-width: .2rem .2rem 0 0;
        transform: rotate(45deg);
        opacity: .2;
      }
    }
  }
  h1 {
    font-size: 2.8rem;
    line-height: 1.5;
    margin-top: 1.2rem;
  }
  .date {
    margin-top: 1.6rem;
    display: inline-block;
    width: 49%;
    font-size:1.4rem;
    opacity: .6;
    line-height: 3.2rem;
    vertical-align: -20%;
    @media(max-width: $SM) {
      width: 100%;
    }
  }
  .tags {
    margin-top: 1.6rem;
    display: inline-flex;
    justify-content: flex-end;
    width: 50%;
    font-size: 1.2rem;
    @media(max-width: $SM) {
      margin-top: .8rem;
      width: 100%;
      justify-content: flex-start;
    }
    a{
      display: block;
      height: 3.2rem;
      line-height: 3.2rem;
      padding: 0 1.6rem;
      margin: 0 .4rem;
      border-radius: 1.6rem;
      background: color(theme);
      color: color(main);
      font-weight: 600;
      letter-spacing: .05em;
      opacity: .8;
      &:hover{ opacity: 1 }
    }
  }
  p {
    margin-top: 2rem;
  }
}
.index {
  margin-top: 4.8rem;
  padding: 3.2rem 4.8rem;
  border-radius: .8rem;
  background: color(theme,.1);
  @include max($SM) {
    padding: 1.2rem 2.4rem;
  }
  h3 {
    color: color(theme);
    font-size: 1.8rem;
  }
  nav > ul {
    margin-top: 1.6rem;
    list-style: disc;
    padding-left: 2rem;
    opacity: .8;
    ul {
      list-style: circle;
      padding-left: 3.2rem;
    }
    li {
      line-height: 1.4;
      margin-top: 1.4rem;
    }
    a {
      color: color(main);
      &:hover{ opacity: 1 }
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
// Content
///////////////////////////////////////////////////////////////////////////////
article {
  margin: 12rem 0 0;
  > * {
    margin: 2rem 0 0;
  }
  h2 {
    margin: 12rem 0 0;
    padding-left: 2rem;
    border-left: .2rem solid color(theme);
    line-height: 1.4;
    font-size: 3.2rem;
  }
  h3 {
    margin: 6rem 0 0;
    line-height: 1.4;
    font-size: 2.4rem;
  }
  h4 {
    margin: 3.2rem 0 -.6rem;
    line-height: 1.4;
    font-size: 1.8rem;
  }
  p:after {
    content: "";
    clear: both;
    display: block;
  }
  ul {
    list-style: disc;
    padding-left: 2.4rem;
  }
  ol {
    list-style: decimal;
    padding-left: 2.4rem;
  }
  li {
    margin: 0 0 .8rem;
    line-height: 1.4;
    ul, ol { margin: 0.8rem 0 0 }
    ul { list-style: circle }
    ol { list-style: decimal }
  }
  .footnote-ref {
    &::before { content: " [" }
    &::after { content: "]" }
    text-decoration: none;
    font-weight: 700;
    opacity: .7;
    &:hover { opacity: 1 }
  }
  dl {
    dt {
      font-weight: 700;
      font-size: 1.2em;
      margin-top: 2rem;
      &::after {
        content: " :";
        opacity: .5;
      }
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    th, td {
      border: 0.1rem solid color(main, 0.2);
      padding: 0.8rem 1.2rem;
    }
    th {
      background: color(main, 0.6);
      color: color(base);
    }
    tr:nth-child(even) td {
      background: color(main, 0.03);
    }
  }
  b {
    font-weight: 700;
  }
  strong {
    background: linear-gradient(transparent 60%, color(theme,0.8) 40%);
  }
  code:not([class]) {
    font-family: Consolas, "Courier New", Courier, Monaco, monospace;
    color: #d72b3f;
    background-color: color(main, 0.08);
    padding: 0.2em 0.4em;
    margin: auto 0.2em;
    border-radius: 0.2rem;
    font-size: 0.9em;
    vertical-align: 0.2em;
  }
  blockquote {
    font-style: italic;
    color: color(main, 0.8);
    background: color(main, 0.08);
    padding: 1rem 2.4rem;
    border-left: 0.2rem solid color(main, 0.2);
  }
  small {
    font-size: 0.9em;
    opacity: 0.8;
    line-height: 1.5;
  }
  hr {
    border: 0;
    margin: 12rem 0 6rem;
    border-top: 0.1rem dashed color(main, 0.5);
  }
  a {
    text-decoration: underline;
    color: color(theme);
    font-weight: 500;
    &:visited {
      filter: brightness(80%);
    }
    &:hover, &:active, &:focus {
      filter: hue-rotate(-20deg) brightness(95%);
    }
  }
  amp-img {
    margin-top: 1.2rem;
  }
  .highlight {
    margin-top: 1.2rem;
    pre {
      padding: 1.2rem;
      overflow: scroll;
    }
  }
}


.embed-card{
  display: block;
  position: relative;
  height: 12rem;
  text-decoration: none;
  box-sizing: content-box;
  border: 1px solid color(main,.05);
  border-radius: .8rem;
  box-shadow: .2rem .4rem 16rem -2rem color(main,.2);
  overflow: hidden;
  @include max($SM) {
    height: 10rem;
  }
  &:hover{
    transform: scale(1.01);
  }
  *{ position: absolute }
  .og{
    width: 16rem;
    height: 12rem;
    top: 0;
    left: 0;
    object-fit: cover;
    @include max($SM) {
      width: 10rem;
    }
  }
  h5{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    top: 1.8rem;
    left: 18rem;
    font-size: 1.6rem;
    width: calc( 100% - 20rem);
    line-height: 1.4;
    color: color(main,.8);
    font-weight: 600;
    @include max($SM) {
      top: 1.6rem;
      left: 11.6rem;
      width: calc( 100% - 13.2rem);
    }
  }
  .favi{
    left: 18rem;
    bottom: 1.6rem;
    width: 2rem; height: 2rem;
    @include max($SM) {
      left: 11.6rem;
      bottom: 1.2rem;
    }
  }
  span{
    left: 21rem;
    bottom: 1.6rem;
    width: calc( 100% - 23rem);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 2rem;
    color: color(main,.6);
    @include max($SM) {
      left: 14.4rem;
      bottom: 1.2rem;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
// Footer
///////////////////////////////////////////////////////////////////////////////
.share{
  display: flex;
  position: fixed;
  flex-direction: column;
  bottom: 2rem;
  right: 2rem;
  @media(max-width: $MD){ flex-direction: row }
  a{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 1.4rem;
    margin-right: 1.4rem;
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: url("/img/blog-share.svg") no-repeat;
    background-color: color(main,.3);
    backdrop-filter: blur(8px);
    background-size: 28rem 4rem;
    &.twitter{background-position: 0 0 }
    &:hover.twitter{ background-color: #008ff7 }
    &.facebook{ background-position: -4rem 0 }
    &:hover.facebook{background-color: #1977f2 }
    &.hatena{ background-position: -8rem 0 }
    &:hover.hatena{ background-color: #00a4de }
    &.pocket{
        background-position: -12rem 0;
        @media (max-width: $SM) { display: none }
    }
    &:hover.pocket{ background-color: #ef4056 }
    &.line{
        background-position: -16rem 0;
        display: none;
        @media (max-width: $SM) { display: block }
    }
    &:hover.line{ background-color: #00B500 }
  }
}
.follow {
  h3 {
    margin-top: 12rem;
    font-weight: 500;
    font-size: 1.6em;
  }
  ul {
    display: grid;
    gap: .8rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: .8rem;
    @media(max-width: $MD) {
      grid-template-columns: 1fr 1fr;
    }
    a {
      display: block;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: .08em;
      color: #fff;
      height: 4.8rem;
      line-height: 4.8rem;
      text-align: center;
      text-indent: -1rem;
      opacity: .8;
      &:hover { opacity: 1 }
      &::before {
        content: "";
        display: inline-block;
        width: 4rem;
        height: 4rem;
        background: url("/img/blog-share.svg") no-repeat;
        background-size: 28rem 4rem;
        margin-right: .4rem;
        vertical-align: -30%;
      }
    }
    li:nth-child(1) a {
      background-color: #1DA1F2;
      &::before { background-position: 0 0 }
    }
    li:nth-child(2) a {
      background-color: #1876F2;
      &::before { background-position: -4rem 0 }
    }
    li:nth-child(3) a {
      background-color: #2BB24C;
      &::before { background-position: -24rem 0 }
    }
    li:nth-child(4) a {
      background-color: color(main,.4);
      &::before { background-position: -20rem 0 }
    }
  }
}
.ad {
  margin-top: 6.4rem;
  width: 100%;
  height: 12em;
  background: #ccc;
}

footer nav {
  margin: 9.6rem calc(50% - 50vw) 0;
  padding: 9.6rem 4.8rem 14rem;
  background: color(theme,.1);
  h1 {
    opacity: .7;
    margin: auto;
    width: 12rem;
    height: 3rem;
  }
  ul {
    display: flex;
    justify-content: center;
    margin-top: 2.4rem;
    @include max($SM) {
      flex-direction: column;
      align-items: center;
    }
  }
  li {
    margin: 1.6rem .8rem 0;
    color: color(theme,.8);
    font-size: .9em;
  }
  li+li::before{
    content: "";
    display: inline-block;
    margin-right: 2.4rem;
    width: .5em;
    height: .5em;
    background: color(theme,.2);
    border-radius: 50%;
    @include max($MD) {
      display: none;
    }
  }
}
