{{ $heder_img := .Resources.GetMatch "cover.png" }}
{{ $heder_img_path := "" }}
{{ if $heder_img }}
    {{ $small := $heder_img.Fit "1280x640 q80" }}
    {{ $heder_img_path = $small.RelPermalink }}
{{ else }}
    {{ $heder_img_path = "/img/placeholder.jpg" }}
{{ end }}


<!DOCTYPE html>
<html ⚡ lang="ja">

<head>
    <meta charset="UTF-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>{{- .Title }} | {{ .Site.Title -}}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    {{/*  Redirect  */}}
    {{ with .Params.redirect -}}
    <link rel="canonical" href="{{ . }}">
    <meta http-equiv="refresh" content="0;URL={{ . }}">
    {{- else }}
    <link rel="canonical" href="{{ .Permalink }}" />
    {{- end }}

    {{/*  JSON-LD  */}}
    <script type="application/ld+json">
    [
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "mainEntityOfPage": {{ .Permalink }},
            "headline": {{ .Title }},
            "image": {{ $heder_img_path }},
            "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05" }},
            "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05" }},
            "author": {
                "@type": "Person",
                "name": {{ .Site.Params.Author }}
            },
            "publisher": {
                "@type": "Organization",
                "name": {{ .Site.Title  }},
                "logo": {
                "@type": "ImageObject",
                "url": "{{ .Site.BaseURL }}img/logo.svg"
                }
            }
        },
        {
          "@context": "https://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [
            {
              "@type": "ListItem",
              "position": 1,
              "name": "HOME",
              "item": "https://hira.page/"
            },
            {
              "@type": "ListItem",
              "position": 2,
              "name": "BLOG",
              "item": "https://hira.page/blog/"
            },
            {
              "@type": "ListItem",
              "position": 3,
              "name": {{ .Title }},
              "item": {{ .Permalink }}
            }
          ]
        }
    ]
    </script>

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <style amp-custom>
      {{ (resources.Get "blog.scss"| toCSS (dict "outputStyle" "compressed")).Content | safeCSS}}
    </style>

    {{/*  OGP  */}}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    {{/*  Other  */}}
    <meta name="theme-color" content="#FFCC66">
    <meta name="description" content="{{ .Description }}">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/favicon.png">
</head>

<body>
    <header id="globalHeader">
        <h1><a href="/"><img src="/img/logo.svg" alt="WEBA"></a></h1>
        <!-- <nav><ul>
            <li><a href="/blog">blog</a></li>
            <li><a href="/me">me</a></li>
            <li><a href="/contact">contact</a></li>
        </ul></nav> -->
    </header>

    <main>
        <header class="articleHeader">
            <amp-img
                src="{{ $heder_img_path }}"
                alt="{{ .Title }}"
                width="640"
                height="320"
                layout="responsive"
            ></amp-img>

            <ol class="breadcrumb">
                <li><a href="/">ホーム</a></li>
                <li><a href="/blog">ブログ一覧</a></li>
            </ol>

            <h1>{{ .Title }}</h1>

            <span class="date">
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006年1月2日" }}</time>
                {{- if .Params.update -}}
                公開 / <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "2006年1月2日" }}</time>更新
                {{ end }}
            </span>

            {{ with .Params.tags -}}
            <ul class="tags">
                {{ range . -}}
                <li><a href="/blog/tags/{{ . | urlize }}/">{{ . }}</a>
                {{- end }}
            </ul>
            {{- end }}

            {{ with .Description -}}
            <p>{{ . }}</p>
            {{- end }}
        </header>

        <aside class="index">
            <h3>Index</h3>
            {{ .TableOfContents }}
        </aside>

        <article>
            {{ .Content }}
        </article>

        <footer>

            <section class="follow">
                <h3>Follow This Blog.</h3>
                <ul>
                    <li><a href="https://twitter.com/psephopaiktes" target="_blank" rel="noopener">Twitter</a>
                    <li><a href="http://fb.me/hira.page" target="_blank" rel="noopener">Facebook</a>
                    <li><a href="https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fhira.page%2Fblog%2Findex.xml" target="_blank" rel="noopener">Feedly</a>
                    <li><a href="http://hira.page/blog/index.xml" target="_blank">RSS</a>
                </ul>
            </section>

            <!-- TODO:AD  -->
            <div class="ad"></div>

            <nav>
                <h1><a href="/"><img src="/img/logo.svg" alt="WEBA"></a></h1>
                <ul>
                    <li><a href="/">ホーム</a></li>
                    <li><a href="/blog">ブログ一覧</a></li>
                    <li><a href="/me">私について</a></li>
                    <li><a href="/contact">お問い合わせ</a></li>
                </ul>
            </nav>

            <aside class="share">
                <a class="twitter" href="https://twitter.com/intent/tweet?url={{.Permalink}}&text={{.Title}}%20%7c%20{{.Site.Title}}" target="_blank" rel="noopener" title="Twitterでシェアする">Twitter</a>

                <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}" title="Facebookでシェア">Facebook</a>

                <a class="hatena" href="http://b.hatena.ne.jp/entry/{{.Permalink}}" title="はてブに登録">はてなブックマーク</a>

                <a class="pocket" href="https://getpocket.com/save?url={{.Permalink}}" title="Pocketに保存する">Pocket</a>

                <a class="line" href="http://line.me/R/msg/text/?{{.Title}}%20%7c%20{{.Site.Title}}%20{{.Permalink}}" title="LINEで共有">LINE</a>
            </aside>
        </footer>
    </main>
</body>

</html>
