{{ $heder_img := .Resources.GetMatch "cover.png" }}
{{ $heder_img_path := "" }}
{{ if $heder_img }}
    {{ $small := $heder_img.Fit "1280x640 q80" }}
    {{ $heder_img_path = $small.RelPermalink }}
{{ else }}
    {{ $heder_img_path = "/img/placeholder.jpg" }}
{{ end }}


<!DOCTYPE html>
<html ⚡ lang="ja">

<head>
    <meta charset="UTF-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>{{- .Title }} | {{ .Site.Title -}}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <!-- TODO: Delete? -->
    <script data-ad-client="ca-pub-5055970484117246" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    {{/*  Redirect  */}}
    {{ with .Params.redirect -}}
    <link rel="canonical" href="{{ . }}">
    <meta http-equiv="refresh" content="0;URL={{ . }}">
    {{- else }}
    <link rel="canonical" href="{{ .Permalink }}" />
    {{- end }}

    {{/*  AMP Plugins  */}}
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"
    ></script><script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>

    {{/*  JSON-LD  */}}
    <script type="application/ld+json">
    [
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "mainEntityOfPage": {{ .Permalink }},
            "headline": {{ .Title }},
            "image": {{ $heder_img_path }},
            "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05" }},
            "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05" }},
            "author": {
                "@type": "Person",
                "name": {{ .Site.Params.Author }}
            },
            "publisher": {
                "@type": "Organization",
                "name": {{ .Site.Title  }},
                "logo": {
                "@type": "ImageObject",
                "url": "{{ .Site.BaseURL }}img/logo.svg"
                }
            }
        },
        {
          "@context": "https://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [
            {
              "@type": "ListItem",
              "position": 1,
              "name": "HOME",
              "item": "https://hira.page/"
            },
            {
              "@type": "ListItem",
              "position": 2,
              "name": "BLOG",
              "item": "https://hira.page/blog/"
            },
            {
              "@type": "ListItem",
              "position": 3,
              "name": {{ .Title }},
              "item": {{ .Permalink }}
            }
          ]
        }
    ]
    </script>

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Round" rel="stylesheet">
    <style amp-custom>
      {{ (resources.Get "blog.scss"| toCSS (dict "outputStyle" "compressed")).Content | safeCSS}}
    </style>

    {{/*  OGP  */}}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    {{/*  Other  */}}
    <meta name="theme-color" content="#FFCC66">
    <meta name="description" content="{{ .Description }}">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/favicon.png">
</head>

<body>

    {{ if .Params.redirect }}
    <main class="redirect">
        <h1>
            <amp-img src="/img/logo.svg" alt="WEBA" width="240" height="60" layout="responsive"></amp-img>
            <p>Redirect...</p>
        </h1>
    </main>
    {{ else }}

    <main>
        <header class="articleHeader">

            <h1 class="logo"><a href="/"><amp-img src="/img/logo.svg" alt="WEBA" width="200" height="50" layout="responsive"></amp-img></a></h1>

            <amp-img
                class="hero"
                src="{{ $heder_img_path }}"
                alt="{{ .Title }}"
                width="640"
                height="320"
                layout="responsive"
            ></amp-img>

            <h1 class="title">{{ .Title }}</h1>

            <span class="date">
                <i class="material-icons-round">today</i>
                <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}" content="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006年1月2日" }}</time>
                {{- if .Params.update -}}
                公開 / <time itemprop="datePublished" datetime="{{ .Lastmod.Format "2006-01-02" }}" content="{{ .Date.Format "2006-01-02" }}">{{ .Lastmod.Format "2006年1月2日" }}</time>更新
                {{ end }}
            </span>

            {{ with .Params.tags -}}
            <ul class="tags">
                {{ range . -}}
                <li><a href="/blog?tag={{ . | urlize }}">{{ . }}</a>
                {{- end }}
            </ul>
            {{- end }}

            {{ with .Description -}}
            <p>{{ . }}</p>
            {{- end }}
        </header>

        <aside class="index">
            <h3><i class="material-icons-round">toc</i> Index</h3>
            {{ .TableOfContents }}
        </aside>

        <article>
            {{ .Content }}
        </article>

        <footer>

            <section class="follow">
                <h3>ブログをフォロー</h3>
                <ul>
                    <li><a href="https://twitter.com/psephopaiktes" target="_blank" rel="noopener">Twitter</a>
                    <li><a href="http://fb.me/webablog" target="_blank" rel="noopener">Facebook</a>
                    <li><a href="https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fhira.page%2Fblog%2Findex.xml" target="_blank" rel="noopener">Feedly</a>
                    <li><a href="http://hira.page/blog/index.xml" target="_blank" rel="noopener">RSS</a>
                </ul>
            </section>

            <section class="support">
                <h3>ライターを支援</h3>
                <ul>
                    <li><a href="http://amzn.asia/eoKfIyd" target="_blank" rel="noopener">Wish list</a>
                    <li><a href="https://paypal.com/paypalme/psephopaiktes" target="_blank" rel="noopener">PayPal</a>
                </ul>
            </section>

            <div class="ad"></div>

            <nav>
                <ol class="breadcrumb" itemscope="" itemType="http://schema.org/BreadcrumbList">
                    <li itemProp="itemListElement" itemscope="" itemType="http://schema.org/ListItem">
                        <a href="/" itemProp="item">HOME</a>
                        <meta itemProp="position" content="1"/>
                    </li>
                    <li itemProp="itemListElement" itemscope="" itemType="http://schema.org/ListItem">
                        <a href="/blog" itemProp="item">ブログ一覧</a>
                        <meta itemProp="position" content="2"/>
                    </li>
                    <li itemProp="itemListElement" itemscope="" itemType="http://schema.org/ListItem">
                        {{ .Title }}
                        <meta itemProp="position" content="3"/>
                    </li>
                </ol>

                <h1><a href="/"><amp-img src="/img/logo.svg" alt="WEBA" width="120" height="30" layout="responsive"></amp-img></a></h1>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/blog">BLOG</a></li>
                    <li><a href="/works">WORKS</a></li>
                    <li><a href="/me">ME</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </nav>

            <aside class="share">
                <a class="twitter" href="https://twitter.com/intent/tweet?url={{.Permalink}}&text={{.Title}}%20%7c%20{{.Site.Title}}" target="_blank" title="Twitterでシェアする">Twitter</a>

                <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}" title="Facebookでシェア">Facebook</a>

                <a class="hatena" href="http://b.hatena.ne.jp/entry/{{.Permalink}}" title="はてブに登録">はてなブックマーク</a>

                <a class="pocket" href="https://getpocket.com/save?url={{.Permalink}}" title="Pocketに保存する">Pocket</a>

                <a class="line" href="http://line.me/R/msg/text/?{{.Title}}%20%7c%20{{.Site.Title}}%20{{.Permalink}}" title="LINEで共有">LINE</a>
            </aside>
        </footer>
    </main>
    {{ end }}


    {{/*  Analytics  */}}
    <amp-analytics type="gtag" data-credentials="include">
    <script type="application/json">
    {
        "vars" : {
        "gtag_id": "G-2T1J8R59SX",
        "config" : {
            "G-2T1J8R59SX": { "groups": "default" }
        }
        }
    }
    </script>
    </amp-analytics>
</body>

</html>
